.modal-form {
  position: relative;
  top: 12px;
  left: 12px;
  @include max-width(452px);
  background-color: white;
  border-radius: 10px;
  padding-top: 31px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 34px;
}

.modal-form__bg {
  position: absolute;
  z-index: -1;
  @include central-align;
  width: calc(100% + 24px);
  height: calc(100% + 24px);
  background-color: rgba(81, 151, 58, 0.42);
  border-radius: 10px;
  box-shadow: -2.2px 20.9px 30.1px 1.9px rgba(0, 0, 1, 0.28);
}
